<%- include('../layout/admin/header.ejs')%>
  <%- include('../layout/admin/navbar.ejs')%>
    <%- include('../layout/admin/sidebar.ejs')%>

      <div class="pagetitle" style="margin-top: 100px;">
        <h1>
          <b>Add Banners</b>
        </h1>

      </div>
      <div class="page-wrapper">

        <div class="container-fluid">

          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Add Banner</h3>

            </div>

          </div>

          <div class="col-lg-12 col-xlg-12 col-md-12">
            <div class="card">
              <!-- Tab panes -->
              <div class="card-body">
                <form action="/admin/addAdds" class="form-horizontal form-material" method="post"
                  enctype="multipart/form-data" id="addBanner">
                  <div class="form-group">
                    <div id="alertpasswordUser1" class="alert alert-danger" role="alert" style="display: none;"></div>
                    <div id="alertpasswordUser" class="alert alert-success" role="alert" style="display: none;"></div>
                    <label class="col-md-12">Heading</label>
                    <div class="col-md-12">
                      <input type="text" name="head" class="form-control form-control-line" required="required">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-12">Image</label>
                    <div class="col-md-12">
                      <input type="file" multiple="multiple" name="image" class="form-control form-control-line"
                        required="required">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type='submit' class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
                <% if(typeof message !=='undefined' ){ %>
                  <h5 style="color: rgb(224, 86, 86);">
                    <%= message %>
                  </h5>
                  <% } %>
              </div>
            </div>
          </div>
          <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
      </div>

      <%- include('../layout/admin/footer.ejs')%>