<%- include('../layout/user/header.ejs')%>
    <%- include('../layout/user/navbar.ejs')%>

        <!-- Menu Toogle -->
        <div class="menu-toggle">
            <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
            </a>
        </div>
        <!-- /Menu Toogle -->
        </div>
        </div>
        <!-- /ACCOUNT -->
        </div>
        <!-- row -->
        </div>
        <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
        </header>
        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>

                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->

        <main id="main" class="main">

            <section>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-center">Edit User</h2>
                            <form action="/editedProfile/<%=use._id%>" method="post">
                                <label for="">Your Name</label>
                                <input type="text" name="name" class="form-control" value="<%=use.name %>"
                                    required="required">

                                <label for="">Your email</label>
                                <input type="email" name="email" class="form-control" value="<%=use.email %>"
                                    required="required">
                                <label for="">Your mobile</label>
                                <input type="text" name="mobile" class="form-control" value="<%=use.mobile %>"
                                    required="required">

                                <!-- Submit Button -->
                                <button class="btn btn-success" type="submit" style="margin-top: 30px;">Save
                                    Changes</button>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- End #main -->

        <%- include('../layout/user/footer.ejs')%>